 body {
	  	margin: 0;
	  }

	  div#a1 {
	  	background-image: url(http://3.bp.blogspot.com/-geJcI7nRQgE/USJnGXBVM4I/AAAAAAAABA8/fcIx147EmeM/s1600/BXK9360_n-senhora-de-guadalupe800.jpg);
	  	background-repeat:no-repeat;
	  	background-size: cover;  //estica imagem 
	  	background-color: green;
	  	text-align: center;
	  	padding: 450px 0px;
	  }


	  div#a2 {
	  	text-align: center;
	  }


	  div#a2 button {
	  	float:right;
	  }