 body {
	  	margin: 0;
	  }

	  div#a1 {
	  	background-image: url('../images/angelo.jpg');
	  	background-repeat:no-repeat;
	  	background-size: cover;  //estica imagem 
	  	background-color: green;
	  	text-align: center;
	  	padding: 250px 0px;
	  }


	  div#a2 {
	  	text-align: center;
	  }


	  div#a2 button {
	  	float:right;
	  }